html {
    width: 100%,
    height: 100%
}

body {
    width: 100%,
    height: 100%,
    margin: 150px,
    font-family: 'Alegreya'
}

# Kapitälchen
span .sc {
    font-variant: small-caps;
    font-family: 'Alegreya SC'
}


