<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script>
    $(document).ready(function() {
    $(".fn").hover(function() {
    $("#footnotes").css({"position": "fixed"});
    }, function() {
    $("#footnotes").css({"position": "static"});
    });
    });
  </script>
  <link rel="stylesheet" href="styles/standard.css">
  <!-- TITLE -->

</head>

<body>
  
  <!-- TEXT -->

</body>
</html>
